//config
$background-color: white;
$control-background-color: #f7f7f7;
$active-background-color: #4A90E2;
$active-control-background-color: #293345;
$hold-background-color: #4A4A4A;
$hold-control-background-color: #222;
$text-color: #4A4A4A;

// BASE
.character {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-direction: column;
  position: relative;
  background-color: white;
  transition: all 0.2s ease;

  &:last-of-type {
    margin-bottom: 0;
  }

  &:hover {
    position: relative;
  }
}

// ELEMENTS

// STATUS CARD
.character__status {
  padding: 10px;
}


.character__centered-text {
  text-align: center;
}

// Input classes
.character__input-group {
  margin: 20px 0;
}

.character__label {
  color: $text-color;
  text-transform: uppercase;
  font-size: 12px;
  opacity: 0.5;
  display: block;
}

.character__input {
  font-size: 24px;
  border: 0;
  background-color: transparent;
  font-weight: bold;
  appearance: none;

  &::placeholder {
    color: $text-color;
    opacity: 0.5
  }

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &:focus {
    outline: 0;
  }
}

// input specifics
.character__name {
  font-size: 24px;
  width: 100%;
}

.character__input-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.character__initiative {
 width: 60px;
 text-align: center;
}

.character__health-group {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}

.character__current-health{
 width: 45px;
 text-align: right;
}

.character__slash {
  text-align: center;
  width: 15px;
}

.character__max-health {
  width: 45px;
  text-align: left;
}


.character__change-health {
  width: 75px;
  text-align: center;
}

.character__slash,
.character__max-health {
  font-weight: normal;
  font-size: 18px;
}


// CONTROL CARD
.character__action-bar {
  transition: all 0.2s ease;
  background-color: $control-background-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  text-align: center;
  color: $text-color;
}

.character__action {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  opacity: 0.5;
  font-size: 12px;
  text-transform: uppercase;
  height: 45px;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    opacity: 1;
    transform: translate(0, -2px);
  }

  &:focus {
    outline: 0;
  }
}

.character__action-label {
 padding-top: 5px;
}



// Modifiers

.character--active {
  background-color: $active-background-color;

  .character__label,
  .character__slash {
    color: white;
  }

  .character__input {
    color: white;
    &::placeholder {
      color: white;
    }
  }

  .character__action-bar {
    background-color: $active-control-background-color;
    color: white;
  }

  .character__action {

  }

  .character__control-label {

  }

}

.character--holding {
  background-color: $hold-background-color;

  .character__label {
    color: white;
  }

  .character__initiative,
  .character__name {
    color: white;
    &::placeholder {
      color: white;
    }
  }

  .character__action-bar {
    background-color: $hold-control-background-color;
    color: white;
  }
}
