.round-controls {
  width: 400px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  padding: 0 10px;
  background-color: white;
  height: 100%;
}

.round-controls__button {
  border: 0;
  cursor: pointer;
  padding: 0 10px;
  height: 45px;
  width: 45px;
  color: white;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  transition: transform, 0.25s ease;
  font-size: 12px;
  text-transform: uppercase;
  color: $dark-gray;
  background-color: transparent;

  &:hover {
    transform: translate(0, -2px);
  }

  &:focus,
  &:active {
    outline: 0;
  }
}

.round-controls__icon {
  width: 24px;
  height: 24px;
  opacity: 0.5;
  path {
    fill: #727272;
  }
}


.round-controls__label {
  opacity: 0.5
}

.round-controls__button:hover {
  .round-contols__label,
  .round-controls__icon {
    opacity: 1;
  }
}

.round-controls__badge {
  opacity: 0;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  position: absolute;
  background: $blue;
  display: block;
  left: 0px;
  transition: opacity 0.2s ease;
}

.round-controls--should-sort {
  .round-controls__badge {
    opacity: 1;
  }
}
