::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
  background-color:transparent;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color:$light-gray;
}
